@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-screen: 512px;
  --1sw: calc(min(100vw, var(--max-screen) / 100));
}

#app {
  max-width: var(--max-screen);
  margin-right: auto;
  margin-left: auto;
}
